body{
    background-color: bisque;
    font-family: "Times New Roman", "serif";
}

.playerStatus {
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
}
.playerStatus h1 {
    font-size: 20px;
}

.monsterStatus {
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
}
.monsterStatus h1 {
    font-size: 20px;
}

#quickMenu {
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

#quickMenu h1 {
    font-size: 20px;
}