*{box-sizing: border-box}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

body{
    color: darkgray;
}
.col:nth-child(-n + 5) {
    grid-column: span 2;
}

.col:nth-child(1) {
    grid-row-start: 1;
    grid-column: 1 / span 3;
}

.col:nth-child(2) {
    grid-row-start: 1;
    grid-column: 4 / span 6;
}

.col {
    background-color: rgba(0, 102, 51, 70%);
}

#playerHP{
    position: absolute;

}

#healthBar{
    background-color: #a10101;
    color: white;
    height: 20px;
    width: 100%;
}

#plrMaxHP{
    background-color: grey;
    height: 20px;
    width: 50%;
}

#manaBar{
    background-color: #2200ff;
    color: white;
    height: 20px;
    width: 100%;
}

#playerMP{
    position: absolute;
}

#plrMaxMP{
    background-color: grey;
    height: 20px;
    width: 40%;
}

#playerSP{
    position: absolute;
}

#staminaBar {
    background-color: orange;
    color: white;
    text-wrap: none;
    height: 20px;
    width: 100%;
}

#plrMaxSP{
    background-color: grey;
    height: 20px;
    width: 50%
}

button{
    font-family: "Times New Roman", "serif";
    font-weight: bold;
}

body{
    background-image: url("The Spire.jpg");
    font-family: "Georgia", "serif";
    font-size: calc(4px + .5vw);
}

.playerStatus {

}


#monsterTelegraph {
    background-color: #a10101;
    width: 40%;
    color: black;

}
h1 {
    font-size: calc(6px + 1vw);
}
#endTurn {
    position: fixed;
    bottom: 1vw;
    left: 50%;
}

#tryAgain {
    position: fixed;
    bottom: 1vw;
    left: 50%;
    background-color: greenyellow;
}
div{

}

